.store-wrapper{
    color: $dark-blue;
    background-color: $off-white;
    margin: 0;
    height: calc(100vh - 82px);
    display: flex;
    flex-direction: column;
    .headding-wrapper{
        @include center-flex;
        .store-icon{
            color: $off-black;
            font-size: 1.9rem;
            margin: 3px;
        }
        h1{
            margin: 0px;
        }
    }
}